* {
    line-height: 1.5;
}

body {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.main-img {
    width: 500px;
    height: auto;
}

.prep-img {
    width: 400px;
    height: auto;
}

ul {
    list-style: none;
}

.recipe-card {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

.recipe-content {
    text-align: left;
}

#backtohome {
    text-align: center;
}